
.vs/portfolio/FileContentIndex/174c78cb-b14a-4a24-8105-328dd0dbd6a3.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/portfolio/FileContentIndex/174c78cb-b14a-4a24-8105-328dd0dbd6a3.vsidx
.vs/portfolio/FileContentIndex/8f1cfc32-344c-4cd3-806a-b5ab9ac79d5e.vsidx
