<body style="background-color:rgba(255, 255, 0, 0.15)">
    <h1 class="text-center">Projects</h1>
    <br />
    <div>
        <p>Here is projects i have been working on</p>
    </div>
    <br />
    <div>
        <p style="font-size:20px;"><b>Lists</b></p>
        <ul>
            <li><a href="Home/Index" style="text-decoration:none; color:rgba(162, 1, 147, 1)">Portfolio</a></li>
            <li><a href="BinaryConverter/Index" style="text-decoration:none; color:rgba(162, 1, 147, 1)">Binary Converter</a></li>
    </div>







</body>